.footer {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: get-color(text-secondary);
	justify-content: space-around;
	font-size: .8em;
	padding: 50px;

	&__helper {
		padding-top: 250px;
	}

	&__policy-link {
		color: get-color(text-secondary);

		&:hover {
			color: get-color(text-primary);
		}
	}

	&__author {
		&--link {
			display: block;
			color: get-color(text-secondary);

			&:hover {
				color: get-color(text-primary);
			}
		}
	}
}