.terms {
	min-width: 400px;

	&__container {

	}

	&__caption {
		text-transform: uppercase;
		padding: 50px 0;
		font-weight: bold;
	}

	&__block {
		padding-bottom: 15px;
	}

	&__btn-section {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}

	&__reject {
		transition: .3s;
		color: get-color(text-secondary) !important;
		border: none;

		&:hover {
			color: get-color(button) !important;
		}
	}

	&__reject,
	&__accept {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
	}
}

.modal-window {

	terms {
		display: block;
		height: 100%;

		.terms {
			height: 100%;
			display: flex;
			flex-direction: column;

			&__container {
				flex: 1 1 auto;
				overflow-y: auto;
				overflow-x: hidden;
				padding-right: 80px;
				@include defaultScroll;
			}

			&__btn-section {
				flex: 0 0 auto;
			}
		}

	}

	&.navigation__modal,
	&.terms__modal-window {
		.modal-window__content {
			overflow-y: hidden;
			display: flex;
			flex-direction: column;
			padding-right: 0;
		}
	}

	&.navigation__modal {
		terms {
			height: 50%;
			padding: 80px;
			padding-right: 0;

			.terms {
				&__container {
					padding-right: 80px;
				}

				&__btn-section {
					padding-right: 80px;
				}
			}
		}
	}

	&.terms__modal-window {
		width: 550px;

		.terms {
			&__btn-section {
				padding-right: 80px;
			}
		}
	}
}