.checkbox {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;

	&__wrapper {
		flex: 1 1 auto;
	}

	&__title {
		flex: 1 1 auto;
	}

	&__checkbox {
		&:checked ~ .checkbox__label {
			background-color: get-color(button);
			border: 1px solid get-color(button);

			&:before {
				content: '';
				display: block;
				height: .2em;
				width: .4em;
				border: .1em solid white;
				border-top: none;
				border-right: none;
				transform: rotate(-50deg);
				transform-origin: 40% 40%;
			}
		}
	}

	&__label {
		transition: .3s;
		border: 1px solid get-color(text-primary);
		height: 1em;
		width: 1em;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		flex-shrink: 0;

		&:hover {
			border: 1px solid get-color(button);
		}
	}
}
