.input{
	width: 100%;
    max-width: 300px;
    border: none;
    background: transparent;
	outline: none;
	color: black;
	font-size: 14px!important;
	
	&::placeholder {
		font-size: 1em;
		color: #8b8f91;
		padding: 0px 15px;
    }
}

.mat-form-field-label {
	color: get-color(text-secondary) !important;
}
.mat-focused .mat-form-field-label {
	color: get-color(text-secondary) !important;
}

.mat-form-field-ripple {
	background-color: get-color(text-primary) !important;
}
.form-field {
	padding-bottom: 1.25em;
}

.textarea {
	font-size: 14px!important;
}

.mat-input-placeholder,
.mat-input-element {
	padding-left: 0 !important;
}

@include respond-to(mobile) {
	.input {
		max-width: 100%;
	}
}