<div class="content-section">
	<h3 class="contact__title">
		Ready to partner?
	</h3>
	<div class="contact__container">
		<div class="contact__left-column">
			<p class="contact__description">
				We want to learn more about you. Please fill out this form we'll follow up.
			</p>
			<partner-form></partner-form>
		</div>
		<div class="contact__right-column">
			<div class="contact__email">
				<div class="contact__email-title">
					Email
				</div>
				<div class="contact__email-address" copyToClipboard>
					support@frameless.com
				</div>
			</div>

			<div class="contact__phone">
				<div class="contact__phone-title">
					Phone number
				</div>
				<div class="contact__phone-number" copyToClipboard>
					0 800 123 4567
				</div>
			</div>

			<div class="contact__socials">
				<div class="contact__socials-title">
					Follow us
				</div>
				<socials
						[instagram]="socialAddresses.instagram"
						[facebook]="socialAddresses.facebook"
						[linkedin]="socialAddresses.linkedin">

				</socials>
			</div>
		</div>
	</div>
</div>