<section class="about">
	<div class="about__container">
		<div class="about__content-nav">
			<div class="content-section">
				<div class="about__navigation">
					<navigation [links]="links"></navigation>
				</div>
			</div>
		</div>
		<div class="about__content-main">
			<div class="content-section" data-for="your-idea">
				<h3 class="about__content-title"> 
					Make your idea sound louder
				</h3>
				<p class="about__content-description">
					Founded in 2016, our team works remotely with clients all over the world. We are focused on the whole process of creting
					graphic videos, including:
				</p>
				<ul class="about__content-offers">
					<li class="list-item about__content-advantage">
						Writing a script
					</li>
					<li class="list-item about__content-advantage">
						Drawing a video from scratch
					</li>
					<li class="list-item about__content-advantage">
						Sound design
					</li>
					<li class="list-item about__content-advantage">
						Voice recording
					</li>
				</ul>
			</div>
			<div class="content-section" data-for="adore">
				<h3 class="about__content-title">
					What we adore?
				</h3>

				<p class="about__content-description">
					We adore what we do, so it is of high importance for us to maintain hight professional standarts while performing.
				</p>
				<p class="about__content-description">
					Each of us puts his heart and soul into the projects, making it authentic by means of unique imaginations. The perfect picture
					you will see on the screen is not the only one priority.
				</p>
				<p class="about__content-description">
					In our efforts to guarantee success for your video, we conduct the thorough audience analysis; try to generate an efficient
					message in order to get the most impressive effect.
				</p>
			</div>
			<div class="content-section" data-for="how-we-do">
				<video-types>How we do?</video-types>
			</div>
			<div class="content-section" data-for="our-team">
				<team>Meet our team</team>
			</div>
		</div>
	</div>
	<div class="content-section">
		<help-form>We will begin the implementation of your project today!</help-form>
	</div>
</section>