@include respond-to(mobile) {
	.video-types {
		&__title {
			@include mobPrimaryHeader;
		}

		&__list {
			&-item {
				max-width: 50%;
				user-select: none;
				padding-left: 0;
				
				&:nth-child(n+3) {
					margin-top: 50px;
				}
			}
		}
	}
}