.contact {
	display: block;

	&__container {
		display: flex;
		margin: auto;
		max-width: 1000px;
		width: 100%;
		justify-content: space-between;
	}

	&__title {
		@include primaryHeader;

		max-width: 1000px;
		width: 100%;
		margin: 0 auto 70px;
	}

	&__description {
		margin-bottom: 50px;
	}

	&__left-column {
		margin-right: 20px;
	}

	&__right-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__email {
		&-title {
			color: get-color(text-secondary);
			padding-bottom: 20px;
		}

		&-address {
			font-size: 2em;
			cursor: pointer;
			@include RobotoBold;

			&:hover {
				color: get-color(button);
			}
		}

		padding-bottom: 30px;
	}

	&__phone {
		&-title {
			color: get-color(text-secondary);
			padding-bottom: 20px;
		}

		&-number {
			font-size: 2em;
			cursor: pointer;
			@include RobotoBold;

			&:hover {
				color: get-color(button);
			}
		}

		padding-bottom: 30px;
	}

	&__socials {
		&-title {
			color: get-color(text-secondary);
			padding-bottom: 20px;
		}
	}
}
