<h2 class="video-type-description__main-header">
	Brand videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Let the whole world know about you
	</p>
	<p class="video-type-description__paragraph">
		Can you imagine anything more persuasive for your brand-promotion than a high-quality video? Actually, during
		decades this method has given no reason to doubt its effectiveness.
	</p>
	<p class="video-type-description__paragraph">
		Brand videos are such a powerful weapon when it comes to the promoting of a brand. We have an experienced team
		of professionals who will create a unique story with an inspiring content for yours. We specialize at drafting
		perceptive and daring concepts, of course, if you are not ready with your own one.
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do a Brand video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Leaves an unforgettable impression of your brand
	</li>
	<li class="list-item video-type-description__advantage">
		Raises the brand awareness and strengthens your clients' loyalty
	</li>
	<li class="list-item video-type-description__advantage">
		Has an inspiring story and a powerful call-to-action
	</li>
</ul>