<div class="footer__helper"></div>
<footer class="footer">
	<div class="footer__rights">
		<span>&copy;</span> 2017, FRAMELESS. All rights reserved
	</div>
	<div class="footer__policy">
		<a [routerLink]="'/privacy-policy'" class="footer__policy-link">
			Privacy policy
		</a>
	</div>
	<div class="footer__author">
		<a class="footer__author--link" href="https://www.linkedin.com/in/roman-sainchuk/">
			Developed by Roman Sainchuk
		</a>
		<a class="footer__author--link" href="http://www.nutsagency.com/">
			Design by NUTS
		</a>
	</div>
</footer>