body {
	position: relative;
	min-height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	color: get-color(text-primary);

	@include Roboto;
	@include defaultScroll;
}

p {
	line-height: 1.5em;
}

@mixin putUnderline {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 2px;
		height: 10px;
		width: 0;
		transform: translate(0, 50%);
		left: -10%;
		z-index: get-index(underline);
		background-color: get-color(button);
	}
}

@mixin underline {
	&::before {
		animation: underline .5s ease-out forwards;
	}
}
