<section class="terms">
	<div class="terms__container">
		<h2 class="terms__caption">
			conditions for the transfer of information
		</h2>
		<div class="terms__content">
			<p class="terms__block">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum quis ipsam quod aliquid sapiente
				dolor porro architecto
				pariatur hic.
			</p>
			<p class="terms__block">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum quis ipsam quod aliquid sapiente
				dolor porro architecto
				pariatur hic.
			</p>
			<p class="terms__block">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum quis ipsam quod aliquid sapiente
				dolor porro architecto
				pariatur hic.
			</p>
			<p class="terms__block">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum quis ipsam quod aliquid sapiente
				dolor porro architecto
				pariatur hic.
			</p>
			<p class="terms__block">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum quis ipsam quod aliquid sapiente
				dolor porro architecto
				pariatur hic.
			</p>
		</div>
	</div>
	<div class="terms__btn-section">
		<button class="btn terms__accept">
			accept the terms
		</button>
		<button class="btn terms__reject">
			i do not agree with the terms
		</button>
	</div>
</section>