<h2 class="video-type-description__main-header">
	Sales videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Create an ideal sales assistant who will work around the clock, will not forget to take a presentation and will
		not be late for a meeting.
	</p>
	<p class="video-type-description__paragraph">
		Purchasing one or another product is always a dilemma. While people carefully balance all the advantages and
		disadvantages of buying your product, the sales video can be that determining factor that will influence their
		decision.
	</p>
	<p class="video-type-description__paragraph">
		Sales videos are used to lure customers to purchase products with the help of an elaborated blueprint and a
		small leap of imagination. We here at Frameless Production Studio are quite experienced in creating videos of
		this kind. So why don’t you let us provide you with the video your product deserve?
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do a Sales video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Accelerates the settlement of transaction
	</li>
	<li class="list-item video-type-description__advantage">
		Increases the amount of sales
	</li>
	<li class="list-item video-type-description__advantage">
		Works 24/7
	</li>
</ul>