<h2 class="video-type-description__main-header">
	Tutorial videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Let the customers understand how your product or service works
	</p>
	<p class="video-type-description__paragraph">
		A tutorial video is a kind of video, which helps your customers acquire proficiency in the use of the product
		you offer. It is a helpful tool if you want to give an impression that you take care of your consumers.
	</p>
	<p class="video-type-description__paragraph">
		We make videos with a step-by-step instructions how to use a certain product. Considering the type of the
		product, we decide how your tutorial will look like. Such videos prevent unfortunate incidents like early
		breakdowns or flooded lines of support services.
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do a Tutorial video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Illustrates a product in action
	</li>
	<li class="list-item video-type-description__advantage">
		Prevents premature calls to the service desk
	</li>
	<li class="list-item video-type-description__advantage">
		Provides you with a valid competitive advantage
	</li>
</ul>