.vertical-scrollbar {
    .ng-scrollbar-view {
        overflow-x: hidden !important;
    }

    .ng-scrollbar-thumb {
        background-color: white !important;

        &:hover {
            background-color: white !important;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            border: 5px solid transparent;
            border-bottom-color: black;
            top: -6px;
            left: 50%;
            transform: translate(-50%);
            width: 1px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            border: 5px solid transparent;
            border-top-color: black;
            bottom: -6px;
            left: 50%;
            transform: translate(-50%);
            width: 1px;
        }
    }

    .ng-scrollbar.-vertical {
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 1px !important;
            border-left: 1px solid black;
            left: 50%;
            top: 0;
            height: 100%;
        }
    }
}

.horizontal-scrollbar {
   

    .ng-scrollbar-view {
		overflow-y: hidden !important;
		&::-webkit-scrollbar{width:2px;height:2px;}
		&::-webkit-scrollbar-button{width:2px;height:2px;}
    }

    .ng-scrollbar-thumb {
        background-color: white !important;

        &:hover {
            background-color: white !important;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            border: 4px solid transparent;
            border-right-color: black;
            left: -6px;
            top: 0;
            width: 1px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            border: 4px solid transparent;
            border-left-color: black;
            right: -6px;
            top: 0;
            width: 1px;
        }
    }

    .ng-scrollbar.-horizontal {
        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 1px !important;
            border-bottom: 1px solid black;
            top: 50%;
            width: 100%;
        }
    }
}

@mixin defaultScroll {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: get-color(button);
        width: 7px;
    }
}
