<h2 class="video-type-description__main-header">
	Explainer videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Explain your company, product, or service to the world
	</p>
	<p class="video-type-description__paragraph">
		The understanding is the core thing in our mentality that encourages us to be interested in anything. So here are the explainer
		videos which are difficult to overestimate when it comes to the correct interpretation of complex issues.
	</p>
	<p class="video-type-description__paragraph">
		An explainer video is aimed to give an overview of your product, service or anything in a spectacular, but more importantly,
		understandable way. In a matter of minutes, your target audience will be able to get acquainted with a choosen message
		enjoying every second of it.
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do an Explainer video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Gets your message across the consumers perfectly
	</li>
	<li class="list-item video-type-description__advantage">
		Increases a website conversion by an average of 60%
	</li>
	<li class="list-item video-type-description__advantage">
		Let your target audience make an informed choice
	</li>
</ul>