<div class="content-section">
	<section class="our-works">
		<div class="our-works__container">
			<h2 class="our-works__title">
				Our works
			</h2>
			<!--<ng-scrollbar [class]="'horizontal-scrollbar desktop-unvisible'" [trackX]="true" [trackY]="false">-->
				<!--<nav class="our-works__filter">-->
					<!--<a class="our-works__filter-item" routerLink="all" routerLinkActive="active">All videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="explainer" routerLinkActive="active">Explainer videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="product" routerLinkActive="active">Product videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="sales" routerLinkActive="active">Sales videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="brand" routerLinkActive="active">Brand videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="educational" routerLinkActive="active">Educational videos</a>-->
					<!--<a class="our-works__filter-item" routerLink="tutorial" routerLinkActive="active">Tutorial videos</a>-->
				<!--</nav>-->
			<!--</ng-scrollbar>-->
			<!--<nav class="our-works__filter mobile-unvisible">-->
				<!--<a class="our-works__filter-item" routerLink="all" routerLinkActive="active">All videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="explainer" routerLinkActive="active">Explainer videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="product" routerLinkActive="active">Product videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="sales" routerLinkActive="active">Sales videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="brand" routerLinkActive="active">Brand videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="educational" routerLinkActive="active">Educational videos</a>-->
				<!--<a class="our-works__filter-item" routerLink="tutorial" routerLinkActive="active">Tutorial videos</a>-->
			<!--</nav>-->
		</div>

		<router-outlet></router-outlet>

		<help-form>We will begin the implementation of your project today!</help-form>
	</section>
</div>