<h2 class="video-type-description__main-header">
	Product videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Introduce your product or service in easy way
	</p>
	<p class="video-type-description__paragraph">
		No matter how ingenious your product is, no one will treat it in a way you want until you take steps to present
		it properly.
	</p>
	<p class="video-type-description__paragraph">
		Product videos are specially designed to generate an interest by means of well-prepared scenario and perfect
		image on the screen. Our team have a great understanding of how to craft a captivating story about your product.
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do a Product video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Represents the main benefits of the most sophisticated product or service in an accessible manner
	</li>
	<li class="list-item video-type-description__advantage">
		Demonstrates how a product can transform consumers’ lives for better
	</li>
	<li class="list-item video-type-description__advantage">
		Discloses the features of the production process without using jargon
	</li>
</ul>