<h2 class="video-type-description__main-header">
	Educational videos
</h2>
<div class="video-type-description__content">
	<p class="video-type-description__paragraph video-type-description__determination">
		Increase an expertise level in the eyes of your customers through a short and useful video
	</p>
	<p class="video-type-description__paragraph">
		Educational videos provide your target audience with an information you believe would be useful to increase
		understanding of some issues. This kind of video is always welcomed due to the richness and diversity of its
		content.
	</p>
	<p class="video-type-description__paragraph">
		If you are the owner of a highly demanded product, there is an extensive selection of topics for this video to
		be about. Through stunning visuals, you can get a story, for example, about the production process told in an
		engaging way. Such an approach will definitely inspire trust between your company and costumers and guarantee
		the years of collaboration.
	</p>
</div>
<h3 class="video-type-description__secondary-header">
	Why do an Educational video works?
</h3>

<ul class="video-types-description__advantages-list">
	<li class="list-item video-type-description__advantage">
		Demonstrates your proficiency and strengthens your clients' loyalty
	</li>
	<li class="list-item video-type-description__advantage">
		Attracts new clients and helps turn them into regular ones
	</li>
	<li class="list-item video-type-description__advantage">
		Facilitates solutions to your viewers’ problems
	</li>
</ul>