@include respond-to(mobile) {
	.help-form {
		&__title {
			@include mobPrimaryHeader;
		}

		&__hint {
			padding: 40px 0;
		}

		&__form-container {
			form {
				flex-direction: column;
				align-items: center;
			}

			.input {
				margin-bottom: 20px;
				padding-right: 0 !important;
			}

			.form-field {
				width: 100%;
			}
		}
	}

	.modal-window {
		&__content {
			.help-form {
				max-width: 100%;
				min-width: unset;

				.input {
					padding: 0;
					width: 100%;
					max-width: unset;
				}

				.form-field {
					flex-direction: column;

					checkbox {
						padding-bottom: 15px;
						margin-right: 0;
					}
				}
			}
		}

		&.navigation__modal {
			help-form {
				width: 100%;
				padding: 40px;
				padding-right: 0;

				.help-form {
					padding-right: 40px;
				}
			}
		}
	}
}
